*{ box-sizing: border-box;    font-family: 'Barlow';}

:root{
--soft-red: hsl(7, 99%, 70%);
--yellow: hsl(51, 100%, 49%);
--dark-desaturated-cyan: hsl(167, 40%, 24%);  /*graphic design text*/
--dark-blue : hsl(198, 62%, 26%); /*(photography text)*/
--dark-moderate-cyan : hsl(168, 34%, 41%); /*(footer)*/


--very-dark-desaturated-blue: hsl(212, 27%, 19%);
--very-dark-grayish-blue: hsl(213, 9%, 39%);
--dark-grayish-blue: hsl(232, 10%, 55%);
--grayish-blue: hsl(210, 4%, 67%);
--white: hsl(0, 0%, 100%);

}

body { margin: 0;}


.page-head{
    width: 100%;
    height: 50vw;
    background-image: url(./images/desktop/image-header.jpg);
    background-size: 100%;
    text-align: center;
    padding-top: 40px;
}


.page-head__navbar{
    width: calc(100% - 60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}

.page-head__logo img{
    width: 170px;
}

.page-head__menu-icon{
    display: none;
}

.page-head__menu-background-image{display: none;}

.page-head__menu{
    padding: 0;
    margin: 0;
}

.page-head__menu li {
    display: inline;
    color: var(--white);
    font-size: 1.1rem;
    margin: 0 18px;
}

.page-head__menu-li-contact {
    font-size: 1.02rem;
    color: var(--very-dark-grayish-blue);
    font-family: 'Fraunces';
    background-color: var(--white);
    padding: 18px 30px;
    border-radius: 30px;
}

.page-head__slogan {
    font-family: 'Fraunces';
    color: var(--white);
    font-size: 3rem;
    margin: 8vw 0 7vw 0;
    letter-spacing: 0.6rem;
}

.page-head__icon {
    height: 6rem;
}

.about-us{
    width: 100%;
    height: 80vw;
    display: flex;
    flex-wrap: wrap;
}

.about-us > *{
    width: 50%;
    height: 40vw;
}

.about-us__text{
    padding: 9vw 7vw 8vw 9vw;
}

.about-us__text-title{
    font-family: 'Fraunces';
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0;
}

.about-us__text-paragraph{
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: var(--dark-grayish-blue);
    margin-bottom: 3vw;
}

.about-us__text-link{
    font-family: 'Fraunces';
    font-size: 0.9rem;
    font-weight: 900;
    color: black;
    text-decoration-style: inherit;
    text-decoration-thickness: 5px;
}

.about-us__text-link_first{
    text-decoration-color:hsl(51, 100%, 49%, 30%);
}

.about-us__text-link_first:hover{
    text-decoration-color: var(--yellow);
}

.about-us__text-link_second{
    text-decoration-color:hsl(7, 99%, 70%, 30%);
}

.about-us__text-link_second:hover{
    text-decoration-color: var(--soft-red);
}

.services{ width: 100%; height: 40vw; display:flex;}

.services >*{ 
    width: 50%; 
    height: 40vw;
    padding: 24vw 12vw 5vw 12vw; 
    text-align: center;
}

.services__service-1{
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-size: 100%;
    color: var(--dark-desaturated-cyan);
}

.services__service-2{
    background-image: url(./images/desktop/image-photography.jpg);
    background-size: 100%;
    color: var(--dark-blue);
}

.services__title{
    font-family: 'Fraunces';
    font-size: 1.7rem;
    font-weight: 900;
}

.services__description{
    line-height: 1.5rem;
}

.testimonials {
     width: 100%; 
     display:flex; 
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;
     margin-bottom: 7vw;
    }

.testimonials__title { 
    font-family:'Fraunces';
     color: var(--grayish-blue);
     letter-spacing: 0.3rem;
     font-weight: 900;
     font-size: 1.2rem;
     width: 75%;
     text-align: center;
     margin: 11vw 0 2vw 0;
    }

.testimonials__card {
    width: 29%;
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw;;
    text-align: center;
}

.testimonials__image img{
    width: 4.4rem;
    border-radius: 2.2rem;
}

.testimonials__testimony{
    margin: 4vw 0 4vw 0;
    color: var(--dark-grayish-blue);
    line-height: 1.5rem;
    font-size: 1.1rem;
}


.testimonials__name{
    margin: 0.6vw 0 0.7vw 0;
    font-family:'Fraunces';
    font-size: 1.1rem;
}

.testimonials__role{
    display: block;
    font-size: 0.85rem;
    color: var(--grayish-blue);
}


.mosaic{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.mosaic>*{
    width: 25%;
}

.page-foot {
    background-color: rgb(124, 206, 199);
    text-align: center;
    height: 25vw;
}

.page-foot__menu{ margin: 0; padding: 0;}

.page-foot__logo img{
    width: 12.5vw;
    margin: 5vw 0 3vw 0;
    filter: invert(0%) sepia(63%) saturate(700%) hue-rotate(90deg) brightness(48%) contrast(156%);
}


.page-foot__menu li {
    display: inline;
    color: var(--dark-moderate-cyan);
    font-size: 1.1rem;
    margin: 0 26px;
}

.page-foot__social{margin: 6vw 0 4vw 0; padding: 0;}

.page-foot__social li {
    display: inline;
    font-size: 1.1rem;
    margin: 0 14px;
}

@media(max-width:1150px){
    .services >*{ 
        padding: 21vw 12vw 5vw 12vw; 
    }

}

@media(max-width:1050px){
    .services >*{ 
        padding: 21vw 7vw 5vw 7vw; 
    }

    .about-us__text{
        padding: 5vw 5vw 5vw 5vw;
    }

}

@media(max-width:950px){

    body{
        width: 100%;
    }

    .container{
        width: 375px; 
        margin: 0 auto;}

    .page-head{
        height: 525px;
        background-image: url(./images/mobile/image-header.jpg);
        background-size: 100%;
        padding-top: 30px;
    }

    .page-head__navbar{margin-left: 15px;}

    .page-head__logo img{
        width: 7rem;
    }
    .page-head__menu-icon{
        display: inline;
    }

    .page-head__menu-background-image{
         display: block;
         position: absolute;
         width: 294px;
         height: 330px;
         left: 40px;
         top: 65px;
         display: none;
        }

    .pressed{
        display: block;
    } 

    .page-head__menu{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 180px;
        top: 150px;
        left: 95px;  
        display: none;
    }

    .pressedto{
        display: flex;
    }

    .page-head__menu li{color: var(--very-dark-desaturated-blue);}

    .page-head__menu-li-contact{ 
        margin-top: 30px;
         background-color: var(--yellow);
         color: black;
        }

    .page-head__slogan {
        font-size: 2.3rem;
        margin: 75px 0 75px 0;
        letter-spacing: 0.25rem;
        font-weight: 900;
    }

    .about-us{
        height: 1450px;
        text-align: center;
    }

    .about-us >*{
        width: 100%;
        height: 300px;
        order: 2;
    }

    .about-us__img_first{ order: 1;}

    .about-us__text{
        height: 425px;
    }

    .about-us__text-title{
        font-size: 2rem;
        margin: 1.2rem 0 1.5rem 0;
    }

    .about-us__text-paragraph{
        margin-bottom: 1.5rem;
    }

    .services{
        flex-wrap: wrap;
        height: 1200px;
    }

    .services>*{
        width: 100%;
        padding: 375px 22px 19px 22px;
    }

    .services__service-1{
        background-image: url(./images/mobile/image-graphic-design.jpg);
        height: 600px;
    }

    .services__service-2{
        background-image: url(./images/mobile/image-photography.jpg);
        height: 600px;
    }

    .testimonials{
        height: 1080px;
        margin-bottom: 10px;
    }

    .testimonials__title{
        margin: 40px 0 40px 0;
        font-size: 0.92rem;
    }

    .testimonials__card{
        width: 100%;
        height: 262px;
        margin-bottom: 50px;
    }

    .testimonials__testimony{
        line-height: 1.8rem;
        margin:25px 0 25px 0;
    }

    .mosaic>*{
        width: 50%;
        height: 210px;}

    .page-foot{
        height: 320px;
    }

    .page-foot__logo img{
        width: 160px;
        margin: 65px 0 35px 0;
    }

    .page-foot__social{
        margin-top: 80px ;
    }


}


